<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>
            Home
        </title>
    </head>
    <body>
        <div>
            <h2>Add New Student</h2><br>
            <div class="row">
                <div class="form-inline">

                    <div class="form-group" style="margin-right: 20px;">
                        <label for="txtId">Id: &nbsp;</label>
                        <input type="text" class="form-control" id="txtId">
                    </div>
                <br>
                    <div class="form-group" style="margin-right: 20px;">
                        <label for="txtFirstName">First Name: &nbsp;</label>
                        <input type="text" class="form-control" id="txtFirstName">
                    </div>
                <br>
                    <div class="form-group" style="margin-right: 20px;">
                        <label for="txtLastName">Last Name: &nbsp;</label>
                        <input type="text" class="form-control" id="txtLastName">
                    </div>
                <br>
                    <div class="form-group" style="margin-right: 20px;">
                        <label for="txtDOB">DOB: &nbsp;</label>
                        <input type="text" class="form-control" id="txtDOB">
                    </div>
                    <br>
                    <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
                </div>
        </div>
        <div>
            <h2>Students List</h2>
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>DOB</th>

                    <th>Action</th>
                </tr>
                <tbody id="divBody"></tbody>
            </table>
        </div>  
        <script>
            $(document).ready(function () {
                BindStudents();
            });
    
            $('#btnSubmit').click(function () {
    
                let idValue = $('#txtId').val();
                let firstName = $('#txtFirstName').val();
                let lastName = $('#txtLastName').val();
                let DobValue = $('#txtDOB').val();
    
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        "id": idValue,
                        "first_name": firstName,
                        "last_name": lastName,
                        "dob": DobValue
                    },
    
                    url: "http://127.0.0.1:8000/student/",
                    error: function (xhr, status, error) {
    
                        var err_msg = ''
                        for (var prop in xhr.responseJSON) {
                            err_msg += prop + ': ' + xhr.responseJSON[prop] + '\n';
                        }
    
                        alert(err_msg);
                    },
                    success: function (result) {
                     
                        BindStudents();
                        alert('Data Saved Successfully.');
    
                        $('#txtId').val("");
                        $('#txtFirstName').val("");
                        $('#txtLastName').val("");
                        $('#txtDOB').val("");
                    }
                });
            });
    
            function BindStudents() {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: "http://127.0.0.1:8000/student/", success: function (result) {
                       
                        var totalCount = result.length;
                        var structureDiv = "";
                        for (let i = 0; i < totalCount; i++) {
                            structureDiv += "<tr>" +
                                "     <td>" + result[i].id + "</td>" +
                                "      <td>" + result[i].first_name + "</td>" +
                                "             <td>" + result[i].last_name + "</td>" +
                                "              <td>" + result[i].dob + "</td>" +
                                "              <td><button class='btn btn-link' onclick='return confirm(\"Are you sure you want to delete this record?\",DeleteRow(" + result[i].id + "))'>Delete</button></td>" +
                                "           </tr>";
                        }
    
                        $("#divBody").html(structureDiv);
                  
                    }
                });
    
            }
    
            function DeleteRow(id) {
                
                $.ajax({
                    type: 'DELETE',
                    dataType: 'json',
    
                    url: "http://127.0.0.1:8000/student/"+id+"/",
                    error: function (xhr, status, error) {
    
                        var err_msg = ''
                        for (var prop in xhr.responseJSON) {
                            err_msg += prop + ': ' + xhr.responseJSON[prop] + '\n';
                        }
    
                        alert(err_msg);
                    },
                    success: function (result) {
                  
                        BindStudents();
                    }
                });
            }
        </script>
    </body>
</html>